<!DOCTYPE html>
<html lang="en">
<head>
{% if title %}
    <title>Про Flask - {{ title }}</title>
{% else %}
    <title>Про Flask</title>
{% endif %}
</head>
<body>
    <ul>
        {% for m in menu %}
        <li>{{m}}</li>
        {% endfor %}
    </ul>
    {% if title -%}
    <h1>{{ title }}</h1>
    {% else -%}
    <h1>Про Flask</h1>
    {% endif %}
</body>
</html>